.feed-container, .feed-sidebar {
  padding: 24px;
  .content {
    background: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 14px;
    margin: 0px 0px 10px;
  }
}
.company-details, .company-details > a {
  font-size: 10px;
  color: #a9a9a9;
  a {
    text-decoration: underline;
  }
}
