.club-card {
  width: 375px;
  flex-grow: 1;
}
.club-card-cover, .club-card-profile {
  img {
    display: block;
    width: 100%;
  }
}
.club-card-cover {
  background-position: center center;
  background-size: cover;
  display: block;
}
.club-card-header:after {
  padding-top: 37.25%;
  display: block;
  content: '';
}
.club-card-header {
  position: relative;
}
.club-card-profile {
  width: 22%;
  overflow: hidden;
  border: 2px solid white;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.club-card-content {
  padding: 10px 16px;
  h3 {
    font-size: 20px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
  }
  .description {
    max-height: 48px;
    overflow: hidden;
    line-height: 16px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
}
.club-card-content p {
  color: #999;
}
.club-card-actions {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
